.ClueFrom {
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ClueFrom .title_text {
  font-size: 18px;
  color: #2c88f5;
  margin-bottom: 20px;
  font-weight: 600;
}

.ClueFrom .demo-ruleForm {
  margin-top: 40px;
  padding: 30px 20px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.ClueFrom .demo-ruleForm .fromitemBtn {
  position: absolute;
  top: -50px;
  right: 0;
}

.ClueFrom .demo-ruleForm .fromitemBtn .el-button {
  width: 120px;
  height: 40px;
}

.ClueFrom .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 40px;
}

.ClueFrom .content .contentBox {
  width: 49%;
  padding: 20px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selectionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.selectionItem span {
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  color: #999999;
  border-radius: 5px;
  background: #f8f8f8;
  cursor: pointer;
}

.selectionItem span:hover {
  color: #2c88f5;
  background: #f5f7fe;
}

.contentBox_item .stagebox {
  margin-left: 152px;
}

.contentBox_item .contentBox_item_title {
  width: 66px;
  height: 66px;
  background: #f5f7fe;
  border-radius: 50%;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #2c88f5;
  margin-bottom: 20px;
  text-align: center;
}

.contentBox_item .contentBox_item_list {
  position: relative;
  margin-bottom: 40px;
  font-size: 14px;
}

.contentBox_item .contentBox_item_list .line {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 184px;
  width: 2px;
  height: 40px;
  margin: 20px 0;
  background-color: #ececec;
  z-index: 99;
}

.contentBox_item .contentBox_item_list .list_l {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentBox_item .contentBox_item_list .listdate {
  font-weight: 600;
  color: #333333;
}

.contentBox_item .contentBox_item_list .listtext {
  width: 40px;
  height: 40px;
  background: #2c88f5;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin: 0 20px;
  color: #fff;
}

.contentBox_item .contentBox_item_list .listdesc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contentBox_item .contentBox_item_list .listdesc .dasc {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*# sourceMappingURL=formStyle.css.map */