// thepool后台部分样式修改
.thepool-header {
  // top顶部样式
  padding-left: 220px !important;

  .avue-top {
    box-shadow: none !important;
  }
}

.thepool-left {
  // 左侧边导航栏
  width: 220px !important;
  box-shadow: none !important;
  background: #2a3f54;

  .avue-logo {
    width: 220px !important;
  }

  .avue-sidebar {
    padding-top: 80px !important;
  }
}

.thepool-main {
  // main主体样式
  left: 220px !important;

  .avue-view {
    padding: 20px 30px !important;
    box-sizing: border-box !important;
    background: #f6fbff !important;
  }
}

// 通用页面布局修改
.thepool_page {
  overflow: auto;
  .thepool_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .thepool_top_title {
      font-size: 20px;
      font-family: AlibabaPuHuiTiM;
      color: #333333;
    }

    .thepool_top_btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .thepool_centent {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;

    .thepool_searchFrom {
    }
  }

  // 详情样式修改
  .orderDetail {
    .orderDetail_content {
      padding: 0 !important;
      background: none !important;

      .orderDetail_item {
        border: none !important;
        padding: 20px !important;
        margin-bottom: 20px !important;
        background-color: #fff;

        .orderDetail_item_title {
          color: #333333 !important;
          font-weight: 500;
          font-size: 18px !important;
          height: auto;
          padding: 0 !important;
          border: none !important;
          line-height: 32px !important;
        }

        .orderDetail_baseinfo {
          padding: 20px 0 0 !important;

          .orderDetail_baseinfo_item {
            margin-bottom: 30px !important;
          }
        }
      }
    }

    .orderDetail_item_tabs {
      height: auto !important;

      .orderDetail_item_tablist {
        padding: 0 10px !important;

        .tablist_item_active {
          background: none !important;

          &::before {
            display: none !important;
          }
        }
      }
    }
  }

  // 修改流程图样式
  .poolSteps {
    .el-step {
      .el-step__head {
        .el-step__icon {
        }
      }
    }

    .el-step__main {
      padding-left: 0 !important;
    }

    .el-step__icon-inner {
      display: none;
    }

    .el-step__line-inner {
      color: $theme_color9;
    }

    .el-step__icon.is-text {
      border: 2px solid !important;
      background-color: $theme_color2;
      border-color: #eeddce !important;
    }

    .el-step__line {
      top: 6px !important;
      bottom: -6px !important;
      left: 5.5px !important;
      border-color: #ebebeb;
    }

    .el-step__icon {
      width: 14px;
      height: 14px;
      padding-top: 1px;
      top: 4px;
    }

    .el-step__title,
    .el-step__title.is-finish {
      color: $theme_text_level4 !important;
      font-size: $font-size-sm;
    }

    .el-step__head {
      min-width: 24px;
    }

    .description {
      color: $theme_color1;
      font-size: $font-size-md;
      line-height: $line-height-lg;
    }

    .time {
      color: $theme_text_level4;
      line-height: $line-height-lg;
      margin-bottom: 10px;
      font-size: $font-size-sm;
    }

    .el-step__description.is-finish {
      color: $theme_primary;
    }
  }

  // 修改侧边展示区域样式
  .scrollList {
    min-height: 200px;
    width: 200px;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    background: #ffffff;

    .scrollItem {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #666666;
      // &::before {
      // 	content: "";
      // 	position: absolute;
      // 	left: 0;
      // 	top: 0;
      // 	bottom: 0;
      // 	width: 3px;
      // }

      &:hover {
        color: $theme_primary !important;
      }
    }

    .scrollItem_active {
      color: $theme_primary !important;

      // &::before {
      // 	background: #D4AB85;
      // }
    }
  }

  // 动态表单样式修改
  .formgenerator {
    .formgenerator_box {
      padding-top: 20px;
      box-sizing: border-box;

      .formgenerator_left {
        padding: 0 !important;
        .el-checkbox .el-checkbox__label {
          font-size: 14px !important;
          font-weight: 400;
        }
      }

      .formgenerator_right {
        background-color: #fff !important;
        box-shadow: none !important;
        border-left: 1px solid #c5d0cf;

        .formgenerator_right_title {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 16px;
          color: #333333;
          text-align: left;
          padding: 0 20px 20px !important;
          border: none !important;
        }

        .formgenerator_right_scrollbar {
          padding: 0 20px 20px !important;
        }

        .addoption {
          color: #ba8e62;
        }
      }

      .formgenerator_form {
        border: none !important;

        .formgenerator_form_left {
          padding: 0 20px !important;

          .formgenerator_form_left_title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
            text-align: left;
          }

          .formlist {
            border-radius: 6px;
            border: 1px dashed #dddddd;

            &:hover {
              box-shadow: 0px 0px 6px 1px rgba(8, 81, 90, 0.18);
              border: 1px solid #d4ab85;
              color: #d4ab85;
            }
          }
        }

        .formgenerator_form_right {
          .formgenerator_form_right_title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
            text-align: left;
            padding: 0 20px 20px !important;
          }
          .formgenerator-placeholder {
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 14px !important;
            color: #999999 !important;
            text-align: left;
            padding: 0 !important;
            line-height: 18px !important;
            margin: 0 !important;
          }
          .is-title {
            padding-bottom: 0 !important;
            .el-form-item__label {
              font-size: 16px !important;
              color: #000000 !important;
              font-weight: 500 !important;
              line-height: 20px !important;
            }
          }

          .draggable {
            padding: 0 20px 20px;

            .is_activeItem {
              background: #f8f9fa !important;
            }
            .is_showHidden {
              background: #efefef !important;
            }
          }
        }
      }
    }
  }

  // 清除按钮
  .clear_btn {
    display: flex;
    align-items: center;
    color: #999999;
    font-size: 14px;

    img {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }

  // 修改表单必填样式
  .el-form {
    .is-required {
      .el-form-item__label {
        &::before {
          position: static !important;
        }
      }
    }
  }

  // 修改跟进方式tabs样式
  .followType {
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    .followType_item {
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;
      color: #666666;
      padding: 0 20px;
    }

    .currentFollow {
      color: $theme_primary !important;
    }
  }

  .isa_table {
    width: 100%;
  }

  .form_item {
    margin-top: 15px;

    .form_item_top {
      width: 100%;
      padding: 6px 15px;
      box-sizing: border-box;
      background: #f0f6fa;
      // margin-bottom: 10px;

      .form_item_top_name {
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 16px;
        color: #333333;
      }
    }
  }

  .isa_table_footer {
    margin-top: 20px;
  }

  .modalFromBtn {
    width: 100%;
    margin-top: 10px;

    .el-form-item__content {
      text-align: center;
    }
  }

  .el-tabs__item.is-active,
  .el-tabs__item:hover {
    color: $theme_primary !important;
  }

  .el-tabs__active-bar {
    background-color: $theme_primary !important;
  }

  // 按钮样式修改
  .el-button {
    border-radius: 6px !important;
  }

  .el-button--small {
    font-size: 14px !important;

    i {
      font-size: 14px !important;
    }
  }

  // 圆形按钮
  .el-button.is-round {
    border-radius: 20px !important;
  }

  .el-button--danger {
    border-color: #ff1906 !important;
    color: #ff1906 !important;
    background-color: #fff !important;
  }

  .el-button--danger.is-plain:hover,
  .el-button--danger.is-plain:focus {
    border-color: #ff1906 !important;
    color: #ff1906 !important;
    background-color: #fbc4c4 !important;
  }

  .button_text {
    min-width: auto !important;
    // color: #2A3F54 !important;
  }

  .el-button--small {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .el-input--small .el-input__icon {
    line-height: 32px !important;
  }

  // 输入框样式修改
  .el-input__inner {
    height: 32px !important;
    line-height: 32px !important;
    font-size: 14px !important;
    color: #999999 !important;
    padding: 0 10px !important;
    border: 1px solid #c9c9c9 !important;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
  }

  .el-textarea__inner:focus {
    border-color: $theme_primary !important;
  }

  // 计数器
  .el-input-number {
    .el-input-number__decrease {
      display: none !important;
    }

    .el-input-number__increase {
      display: none !important;
    }

    .el-input__inner {
      text-align: left !important;
    }
  }

  // 上传图片样式修改
  .upload-photo {
    width: 100px;
    height: 100px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .el-upload {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .upload-photo-icon {
      width: 32px;
      height: 32px;
    }

    .photo {
      width: 100px;
      height: 100px;
    }
  }

  // 表单查看详情样式修改
  .detailFormItem {
    .is-disabled .el-input__inner {
      color: #666666 !important;
      border: none !important;
      background: #f9f9f9 !important;
      cursor: text; // 鼠标指针显示为文本选择样式
      -webkit-user-select: text; // 允许在 Chrome、Safari 等浏览器选择文本
      -moz-user-select: text; // 允许在 Firefox 选择文本
      -ms-user-select: text; // 允许在 IE 选择文本
      user-select: text; // 标准语法，允许选择文本
    }

    .el-input__suffix {
      display: none !important;
    }
  }

  // 日期选择器样式修改
  .el-date-editor {
    .el-input__prefix {
      display: none !important;
    }
  }

  .timepicker {
    .el-input__prefix {
      display: none !important;
    }
  }

  .searchFromBox .el-form-item--mini.el-form-item,
  .searchFromBox .el-form-item--small.el-form-item,
  .editFromBox .el-form-item--mini.el-form-item,
  .editFromBox .el-form-item--small.el-form-item {
    margin-bottom: 15px !important;
    margin-right: 20px !important;
    box-sizing: border-box;
  }

  .el-form-item--small .el-form-item__label {
    line-height: 20px !important;
  }

  .el-form--label-top .el-form-item__label {
    padding-bottom: 5px !important;
  }

  .el-form-item--small .el-form-item__content {
    line-height: none !important;
  }

  .el-form--inline .el-form-item {
    margin-right: 0 !important;
  }

  .el-date-editor .el-range-separator {
    width: 8%;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
  }

  .el-date-editor {
    .el-icon-time {
      display: none;
    }

    .el-icon-date {
      display: none;
    }
  }

  .el-range-editor--small .el-range-input {
    font-size: 14px !important;
    color: #999999;
  }

  .el-button--primary:hover,
  .el-button--defult:focus {
    border-color: #c49f7a !important;
    background-color: #c49f7a !important;
  }

  .el-button--defult:hover,
  .el-button--defult:focus {
    border-color: $theme_primary !important;
    color: #ffffff !important;
    background-color: $theme_primary !important;
  }

  .checkbox_center {
    display: flex;
    align-items: center;

    .el-checkbox__label {
      font-size: 14px !important;
      line-height: 16px !important;
      font-weight: 400 !important;
    }
  }

  .search_input {
    .el-input__inner {
      border-radius: 20px !important;
    }
  }

  .showSelectClose {
    .el-select .el-tag__close.el-icon-close {
      display: block !important;
    }
  }
}

// tabs样式修改
.thepool_tabs {
  .el-tabs__item::before {
    display: none !important;
  }

  .el-tabs__item {
    padding: 0 16px !important;
    margin: 0 !important;
  }
}

// 分页样式
.thepool_pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .el-pagination {
    .el-pagination__total {
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 14px;
      color: #666666;
      line-height: 20px;
    }

    .btn-prev {
      padding: 0 !important;
    }

    .btn-next {
      padding: 0 !important;
    }

    .el-pager {
      .number {
        margin: 0 4px !important;
      }
    }

    .el-pagination__jump {
      margin-left: 2px !important;
    }
  }
}

// 弹窗演示修改
.pooldialog {
  overflow: hidden;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;

  .dialog-footer {
    text-align: center !important;
  }

  .el-dialog__header {
    border: none !important;
    border-radius: 10px 10px 0 0 !important;
    -webkit-border-radius: 10px 10px 0 0 !important;
    -moz-border-radius: 10px 10px 0 0 !important;
    -ms-border-radius: 10px 10px 0 0 !important;
    -o-border-radius: 10px 10px 0 0 !important;

    .el-dialog__title {
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 18px;
      color: #000000;
      text-align: left;
    }

    .el-dialog__headerbtn {
      font-size: 20px;

      .el-dialog__close {
        color: #999999;
        font-size: 20px;
      }
    }
  }

  .el-dialog__body {
    padding: 0 20px 30px !important;
    border-radius: 0 0 10px 10px !important;
    -webkit-border-radius: 0 0 10px 10px !important;
    -moz-border-radius: 0 0 10px 10px !important;
    -ms-border-radius: 0 0 10px 10px !important;
    -o-border-radius: 0 0 10px 10px !important;
  }

  .el-button.is-round {
    border-radius: 20px !important;
  }

  .el-button--small {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .el-input--small .el-input__icon {
    line-height: 32px !important;
  }

  .moadlFromBox {
    .el-form-item--small .el-form-item__label {
      line-height: 14px !important;
    }

    .el-form-item--small.el-form-item {
      padding-right: 15px !important;
      margin-bottom: 15px !important;
      box-sizing: border-box;
    }

    .el-form--label-top .el-form-item__label {
      padding-bottom: 10px !important;
    }

    .el-form-item--small .el-form-item__content {
      line-height: none !important;
    }

    .el-date-editor .el-range-separator {
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 14px;
      color: #666666;
    }

    .el-date-editor {
      .el-icon-time {
        display: none;
      }

      .el-icon-date {
        display: none;
      }
    }

    .el-range-editor--small .el-range-input {
      font-size: 14px !important;
      color: #999999;
    }

    .el-form--inline .el-form-item {
      margin-right: 0 !important;
    }
  }

  .el-button--primary:hover,
  .el-button--primary:focus {
    border-color: #c49f7a !important;
    background-color: #c49f7a !important;
  }

  .el-button--defult:hover,
  .el-button--defult:focus {
    border-color: $theme_primary !important;
    color: #ffffff !important;
    background-color: $theme_primary !important;
  }
}

.poolteam_fullCalendar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow-y: auto;

  .fullCalendar {
    /* 全局样式穿透，确保日历样式正确应用 */
    .fullCalendar_body {
      width: 100% !important;

      // height: calc(100vh - 280px) !important;
      tbody .fc-daygrid-day-frame .fc-daygrid-day-events .fc-h-event {
        border-radius: 10px !important;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;
      }

      .fc-direction-ltr .fc-daygrid-event.fc-event-end,
      .fc-direction-rtl .fc-daygrid-event.fc-event-start {
        border-radius: 10px !important;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;
      }
    }

    .fullCalendar_body thead .fc-scrollgrid-sync-inner {
      background: rgba(231, 241, 251, 0.5);
    }

    .fullCalendar_body
      thead
      .fc-scrollgrid-sync-inner
      .fc-col-header-cell-cushion {
      color: #333333;
    }

    .fullCalendar_header {
      .fullCalendar_play {
        .el-button--default {
          border-color: #dddddd !important;
          color: #666666 !important;
          font-size: 16px !important;
        }

        .yeardate {
          .el-input__inner {
            border-radius: 6px 0 0 6px !important;
          }
        }

        .monthdate {
          .el-input__inner {
            border-radius: 0 6px 6px 0 !important;
          }
        }

        .round_btn_frist {
          border-radius: 20px 0 0 20px !important;
        }

        .round_btn_last {
          border-radius: 0 20px 20px 0 !important;
        }

        .el-button-group .is_active {
          color: #ba8e62 !important;
          border-color: #ba8e62 !important;
        }
      }
    }

    .fullCalendar_body
      .fc-scrollgrid-sync-table
      > tbody
      > tr
      > td
      .fc-daygrid-day-top {
      flex-direction: row !important;
    }

    .fullCalendar_body tbody .fc-daygrid-day-number {
      font-weight: 400;
      font-size: 16px;
      color: #666666;
    }

    .fullCalendar_body .fc-scrollgrid-sync-table > tbody > tr > .fc-day-today {
      background: #f8f1eb;
    }
  }
}

.selectInput {
  width: 100%;
  cursor: pointer !important;

  .el-input__inner {
    cursor: pointer !important;
  }
}

.clueTabs {
  .el-tabs__item {
    padding: 20px !important;
    font-size: 14px !important;
    margin: 0 !important;
    line-height: 0 !important;
  }

  .el-tabs__item:hover {
    color: #ba8e62 !important;
  }

  .el-tabs__item.is-active {
    color: #ba8e62 !important;
  }

  .el-tabs__active-bar {
    background-color: #ba8e62 !important;
  }

  .el-tabs__item::before {
    right: 0 !important;
  }
}

// 提高富文本浮窗层级
.tox-tinymce-aux {
  z-index: 3000 !important;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 14px !important;

  .el-checkbox__label {
    line-height: 14px !important;
  }
}

.form-questionnaire {
  .formupload {
    .el-upload {
      width: 100% !important;

      .el-upload-dragger {
        width: 100% !important;
      }
    }
  }
}

.selectchannlemultiple {
  .el-cascader__tags {
    top: 45% !important;
    height: 24px !important;
  }
}

.requestParam {
  padding: 20px 20px 0 20px;
  background-color: #fff;

  .requestParam_title {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
  }

  .requestParamlist {
    display: flex;
    flex-wrap: wrap;

    .requestParamlist_item {
      font-size: 12px;
      font-weight: 400;
      color: #333333;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 2px 8px;
      border: 1px solid #d9d9d9;
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;

      :hover {
        color: #ba8e62;
      }
    }

    .active_item {
      color: #ba8e62;
      border-color: #ba8e62;
    }
  }
}
.commonPpagination {
  .el-pagination {
    .el-pagination__jump {
      line-height: 24px !important;
      margin-left: 10px !important;
    }
    .el-pagination__sizes {
      .el-input {
        height: 24px !important;
        line-height: 24px !important;
      }
      .el-input__inner {
        height: 24px !important;
        line-height: 24px !important;
      }
      .el-input__suffix {
        top: 1px;
      }
    }
  }
}
.formgenerator_child {
  .list-complete-item {
    width: 100% !important;
  }
}
// 学生模板对外
.student-templateout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* 导航栏 */
  .student-templateout-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    .student-templateout-nav_text {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #2a3f54;
    }
    .language {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 14px;
      font-weight: 500;
      transform: translateY(50%);
      color: #2a3f54;
      cursor: pointer;
      border: 1px solid #2a3f54;
      border-radius: 2px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .student-templateout-content {
    height: calc(100% - 120px);
    padding: 20px 10px;
    background-color: #f5f7fa;
    .student-templateout-form {
      max-width: 800px;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      background-color: #ffffff;
      border-radius: 10px;
      overflow-y: auto;
      padding: 0 20px 0;
      box-sizing: border-box;
      .el-tabs__item {
        font-weight: 400;
        margin: 0 !important;
        padding: 0 20px !important;
        color: #999999;
      }
      .el-tabs__item::before {
        right: 0 !important;
      }
      .el-tabs__item.is-active,
      .el-tabs__item:hover {
        font-weight: 500;
        color: #2a3f54;
      }
      .el-tabs__active-bar {
        background-color: #ba8e62 !important;
      }
    }
    .student-templateout-form_item {
      height: 580px;
      overflow-y: auto;
      padding: 10px 0;
      box-sizing: border-box;
    }
  }
  .student-templateout-footer {
    width: 100%;
    height: 60px;
    line-height: 60px;

    background-color: #ffffff;
    .student-templateout-footer_item {
      margin: 0 auto;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;
      .student-templateout-footer_tips {
        font-size: 14px;
        font-weight: 400;
        color: #475467;
      }
    }
    .el-button--primary {
      background-color: #ba8e62 !important;
      border-color: #ba8e62 !important;
      color: #fff !important;
    }
  }
}
// 媒体查询
.student-templateout-dialog {
  width: 100%;
  .el-dialog {
    width: 50%;
    .el-dialog__header {
      .el-dialog__title {
        color: #2a3f54;
        font-size: 16px;
      }
    }
    .el-dialog__body {
      padding: 10px 20px 10px;
      .student-templateout-dialog_item {
        display: flex;
        align-items: center;
      }
    }
    .student-templateout-dialog_footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .el-button--primary {
      background-color: #2a3f54 !important;
      border-color: #2a3f54 !important;
    }
    .el-button--default {
      background-color: #fff !important;
      border-color: #2a3f54 !important;
      color: #2a3f54 !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .student-templateout-dialog {
    .el-dialog {
      width: 90%;
      .el-dialog__header {
        padding: 10px 10px;
        .el-dialog__title {
          color: #2a3f54;
          font-size: 14px;
        }
      }
    }
    .el-dialog__body {
      padding: 10px 10px 10px;
    }
  }
}
