.df_sb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.df_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.df_sa {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.df_fe {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.df_fa {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.df_aw {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.df_dc {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.f_sb {
	display: flex;
	justify-content: space-between;
}

.df_w {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.df_start_center {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.df_center_wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.df_center_sb_column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.df_align_center {
	display: flex;
	align-items: center;
}

.df_start_sb_column {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
}

.df_start_column {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.df_end_sa {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.df_center_sa {
	display: flex;
	align-items: center;
	justify-content: space-around;
}