.space {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.title {
		font-size: 16px;
		color: #666666;
		margin-bottom: 30px;
	}

	.space_left {
		height: 100%;
		background-color: #fff;
		box-sizing: border-box;

		.big_title {
			font-size: 16px;
			font-weight: bold;
			color: #0d0d0d;
			padding: 20px;
		}

		.tree {
			width: 250px;

			.el-tree-node__content {
				height: 36px;
				margin: 3px 0;

				&:hover {
					background-color: #fff;
					// box-shadow: 0px 0px 6px 1px rgba(23, 94, 103, 0.15);
				}
			}

			.el-tree-node.is-current>.el-tree-node__content {
				position: relative;

				&::before {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					content: "";
					box-shadow: 0px 0px 6px 1px rgba(23, 94, 103, 0.15);
				}

				color: $theme_primary;
				background-color: #fff;
			}

			.el-tree-node__content>.el-tree-node__expand-icon {
				margin-left: 10px;
			}

			.el-tree-node__expand-icon.expanded {
				// margin-left: 20px;
			}
		}
	}

	.space_right {
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

	.tree_box {
		min-width: 250px;
		padding: 10px 0;
		margin-right: 20px;
	}

	.search {
		padding: 30px;
		background-color: #fff;
		box-shadow: 0px 0px 20px 1px rgba(23, 94, 103, 0.18);
		// box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

		.el-form-item {
			margin-right: 15px;
			margin-bottom: 0 !important;
		}
	}

	.paginationInfo {
		margin: 20px 0;
	}

	.areaList {
		min-width: 180px;
		padding-right: 30px;
		box-sizing: border-box;
		border-right: 1px solid #eeeeee;
		margin-right: 30px;
		height: 100%;

		.areaItem {
			position: relative;
			width: 180px;
			height: 40px;
			line-height: 40px;
			background: #fafafa;
			padding: 0 20px;
			margin-bottom: 10px;
			cursor: pointer;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 3px;
			}

			&:hover {
				background: #eef5f6;
			}
		}

		.areaItem_active {
			background: #eef5f6;

			&::before {
				background: #175e67;
			}
		}
	}

	.cardList {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 20px);

		.card {
			position: relative;
			width: 270px;
			// height: 150px;
			padding: 20px;
			background: #ffffff;
			border-radius: 0px 0px 0px 0px;
			opacity: 1;
			border: 1px solid #eaf0f0;
			cursor: pointer;
			margin-right: 20px;
			margin-bottom: 20px;
			transform: all 0.5s;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&::before {
				position: absolute;
				content: "";
				left: -1px;
				bottom: -1px;
				height: 4px;
				background: linear-gradient(270deg, #2fbdd0 0%, #175e67 100%);
				border-radius: 0px 0px 0px 0px;
			}

			&:hover {
				// box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.16);

				&::before {
					animation: move 0.8s;
					animation-fill-mode: forwards;
				}
			}

			@keyframes move {
				0% {
					right: 100%;
				}

				100% {
					right: -1px;
				}
			}

			.card_title {
				font-size: 16px;
				font-family: Source Han Sans CN-Bold, Source Han Sans CN;
				font-weight: bold;
				color: #0c3840;
				line-height: 22px;
				-webkit-background-clip: text;
			}

			.card_line {
				width: 100%;
				height: 1px;
				background-color: #eeeeee;
				margin: 3px 0 10px;
			}

			.card_status {
				width: 46px;
				height: 46px;
				background: rgba(245, 108, 108, 0.2);
				border-radius: 2px;
				margin-right: 15px;
				padding: 4px 8px 4px 8px;
				box-sizing: border-box;
				border: 1px solid #f56c6c;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				i {
					font-size: 16px !important;
					color: #f56c6c;
				}

				span {
					font-size: 10px;
					color: #f56c6c;
					-webkit-background-clip: text;
				}
			}

			.card_status_free {
				background: rgba(54, 185, 120, 0.2);
				border: 1px solid #36b978;

				i {
					color: #36b978;
				}

				span {
					color: #36b978;
				}
			}

			.card_info {
				flex: 1;
				padding: 3px 0;
				font-size: 12px;
				height: 46px;
				color: #999999;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;

				span {
					width: 120px;
					color: #333333;
				}
			}
		}
	}

	.el-pagination {

		.el-pager li,
		button:disabled,
		.el-input__inner,
		.btn-next {
			background-color: rgba(255, 255, 255, 0);
		}
	}

	.breadcrumb {
		.el-breadcrumb__inner {
			cursor: pointer;
		}
	}
}

.fullCalendar {
	.fc-v-event {
		border-color: rgba(97, 174, 178, 0.2) !important;
		background: rgba(97, 174, 178, 0.2) !important;
	}

	// padding: 30px;
	.fc-more-popover {
		width: 200px;
	}

	.fc-popover {
		transform: translate(0, -100%);
		box-shadow: 0px 0px 20px 1px rgba(16, 58, 60, 0.16);
		background: rgba(255, 255, 255, 0.7) !important;
		box-sizing: border-box;
		// padding-right: 20px;

		.fc-popover-header {
			display: none;
		}

		.fc-popover-body {
			min-width: 100% !important;
			// padding: 0px !important;
			box-sizing: border-box;

			.fc-h-event {
				border: none;
				background-color: rgba(255, 255, 255, 0);
				font-size: 12px;
				color: #333333;

				&:hover {
					color: $theme_primary;
					background-color: rgba(255, 255, 255, 0);
				}
			}
		}
	}

	.fc-direction-ltr .fc-daygrid-event.fc-event-end,
	.fc-direction-rtl .fc-daygrid-event.fc-event-start {
		margin-right: 0;
	}

	.garden {
		display: inline-block;
		width: 12px;
		height: 12px;
		background: #cccccc;
		border-radius: 50%;
		margin-right: 5px;
	}

	.fullCalendar_header {
		margin-bottom: 15px;

		.fullCalendar_play {
			flex: 1;
			display: flex;
			align-items: center;

			.el-button-group {
				display: flex;
				margin-right: 10px;

				.el-button {
					min-width: auto !important;
					border-radius: 0px !important;
					padding: 8px 12px;
					font-size: 14px;
					color: #9ca6a5;
					border-color: #c5d0cf;
				}

				.is_active {
					margin-right: 0px;
					color: $theme_primary !important;
					border-color: $theme_primary !important;
				}
			}
		}

		.el-input {
			width: 200px !important;

			.el-input__inner {
				height: 32px !important;
				border-radius: 0px;
			}

			.el-input-group__append {
				width: 30px;

				.el-button {
					min-width: auto !important;
					border-radius: 0px !important;
					border-color: $theme_primary !important;
					background: $theme_primary !important;
					color: #ffffff;
				}
			}
		}

		.fullCalendarSearch {
			margin-left: 10px;

			.el-button--primary {
				width: 71px;
				height: 31px;
				border-radius: 0 4px 4px 0;
			}
		}

		.selectionTime {
			.step {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				// width: 15px;
				height: 32px;
				border: 1px solid #c5d0cf;
				padding: 1px 3px;
				box-sizing: border-box;

				i {
					color: #9ca6a5;
					font-size: 12px;
					cursor: pointer;

					&:hover,
					&:active {
						color: $theme_primary;
					}
				}
			}

			.el-date-editor--year,
			.el-date-editor--week,
			.el-date-editor--date {
				width: 80px !important;

				.el-input__prefix,
				.el-input__suffix {
					display: none;
				}

				.el-input__inner {
					padding: 0 10px;
				}
			}

			.el-date-editor--date,
			.el-date-editor--week {
				width: 120px !important;
			}

			.el-select {
				.el-input {
					width: 60px !important;
				}

				.el-input__inner {
					border-left: none;
				}

				.el-input__suffix {
					display: none;
				}

				.el-input__inner {
					padding: 0 10px;
				}
			}
		}

		.status {
			font-size: 14px;
			font-weight: 400;
			color: #333333;
		}
	}

	.fc-col-header {
		.fc-timegrid-axis {
			.fc-scrollgrid-sync-inner {
				height: 40px;
				line-height: 32px;
				color: #ffffff;
			}
		}
	}

	.fc-direction-ltr .fc-timegrid-col-events {
		margin: 0;
	}

	.fullCalendar_body {
		.fc .fc-timegrid-slot {
			background-color: #fff !important;
			height: 40px;
		}

		thead {
			.fc-scroller {
				// height: 64px;
				// overflow: none !important;
			}

			.fc-scrollgrid-sync-inner {
				padding: 6px;
				background: #457d80;

				.fc-col-header-cell-cushion {
					font-size: 16px;
					font-weight: bold;
					color: #ffffff;
					-webkit-background-clip: text;
				}
			}
		}

		tbody {
			.fc-daygrid-day-number {
				font-size: 24px !important;
				font-weight: bold;
				color: #0c3840;
				-webkit-background-clip: text;
				width: 32px;
				height: 30px;
				padding: 0;
			}

			.fc-daygrid-day-frame {
				padding: 10px 20px 10px 10px;
				box-sizing: border-box;
				border: 1px solid #ffffff;

				&:hover {
					box-sizing: border-box;
					border: 1px solid #175e67;
				}

				.fc-daygrid-day-events {
					left: 0;
					right: 0;
					top: 40px;
					bottom: 10px;

					.fc-h-event {
						border: none;
						background-color: rgba(255, 255, 255, 0);
						font-size: 12px;
						color: #333333;

						&:hover {
							color: $theme_primary;
							background-color: rgba(255, 255, 255, 0);
						}
					}
				}
			}
		}

		.fc-scrollgrid-sync-table>tbody>tr>td {
			height: 100px;
			background-color: #ffffff;
			padding: 1px;

			.fc-daygrid-day-top {
				overflow: hidden;
			}
		}

		.fc-scrollgrid-sync-table>tbody>tr>.fc-day-today {
			height: 100px;

			.fc-daygrid-day-frame {
				border: 1px solid #175e67;
			}
		}

		.fc-toolbar-chunk {

			// .fc-button-group {
			.fc-button {
				border-radius: 0px;
				font-size: 14px;
				color: #9ca6a5 !important;
				line-height: 0px;
				padding: 15px 15px;
				background-color: #fff !important;

				&:disabled {
					opacity: 1;
				}
			}

			.fc-button-primary {
				border-color: #c5d0cf;
			}

			.fc-button-primary:disabled,
			.fc-button-primary:not(:disabled):active,
			.fc-button-primary:not(:disabled).fc-button-active {
				border-color: $theme_primary !important;
				color: $theme_primary !important;
			}

			// }
		}
	}
}

.spacefrom {
	.detail_content {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.spacefrom_content {
		flex: 1;
	}
}

.basefrom {
	padding: 30px;

	.el-form {
		width: 100%;

		.el-form-item {
			margin: 0;
			width: 25%;
			margin-bottom: 20px;

			.el-form-item__content {
				padding-right: 20px;
			}
		}
	}
}

.fullCalendarsPopover {
	padding: 10px 5px;
	// background: rgba(255, 255, 255, 0.6);
}