html {
  font-family: var(--uni-font-family);
  font-size: var(--uni-font-size-base);
  line-height: var(--uni-line-height-base);
  color: var(--uni-text-color);
  background: var(--uni-bg-page);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
