html {
  font-family: var(--uni-font-family);
  font-size: var(--uni-font-size-base);
  line-height: var(--uni-line-height-base);
  color: var(--uni-text-color);
  background: var(--uni-bg-page);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: var(--uni-scrollbar-size);
  height: var(--uni-scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background-color: var(--uni-scrollbar-thumb-color);
  border-radius: var(--el-border-radius-circle);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--uni-scrollbar-thumb-hover-color);
}
