.uni-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uni-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uni-scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.uni-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--uni-scrollbar-thumb-color) transparent;

  &::-webkit-scrollbar {
    width: var(--uni-scrollbar-size);
    height: var(--uni-scrollbar-size);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--uni-scrollbar-thumb-color);
    border-radius: var(--el-border-radius-circle);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--uni-scrollbar-thumb-hover-color);
  }
}

.uni-scroll-y.uni-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}

// 默认列表页布局
.uni-list-page {
  display: grid;
  min-width: 0;

  > * {
    min-width: 0;
  }

  &__header {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    h1 {
      margin: 0;
      font-size: 22px;
    }

    p {
      margin: 0;
      color: #64748b;
      font-size: 13px;
    }
  }
}
