:root {
  --uni-font-family:
    Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --uni-font-size-base: 14px;
  --uni-line-height-base: 1.5;
  --uni-scrollbar-size: 8px;
  --uni-scrollbar-thumb-color: rgb(144 147 153 / 30%);
  --uni-scrollbar-thumb-hover-color: rgb(144 147 153 / 45%);
}
